.Home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.side-nav {
  width: 200px;
  padding: 20px;
  overflow-y: scroll;
  max-height: calc(
    100vh - 70px
  ); /* Adjust the height based on your upper-menu height and other paddings/margins */
}

.search-exercise {
  display: block;
  width: calc(100% - 22px); /* Adjust the width to match the button width */
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
}

.button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  text-align: left;
  cursor: pointer;
}

.button.highlighted, .button:hover {
  background-color: #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.exercise-info-container {
  flex-grow: 1; /* Takes up remaining space */
  padding: 20px;
  overflow-y: auto; /* Allows scrolling if content overflows */
}
