.Login {
  font-family: Arial;
  width: 100vw;
  height: 100vh;
}

.msg-success {
  color: blue;
}

.msg-error {
  color: red;
}

fieldset {
  width: 320px;
  font-size: 14px;
}

legend {
  width: 100px;
  text-align: center;
  background: rgb(230, 230, 230);
  border: solid 1px;
  margin: 1px;
  font-weight: bold;
}
